@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;400;500;700&display=swap');

/* GLOBAL STYLES */

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /*
    Iphone / Outline
    Chat / Right Message / Background
    Chat / Input / Background
    Chat / Submit / Icon
    Chat / Avatar / Outline
    Chat / Back
    Chat / Options
    Chat / Name
  */
  --clr--white: hsl(0, 0%, 100%);
  
  /* 
    Background
    Chat / Background
  */
  --clr--gray-1: hsl(270, 20%, 96%);
  
  /* Chat / Input / Placeholder */
  --clr--gray-2: hsl(206, 6%, 79%);

  /* Paragraph */
  --clr--gray-3: hsl(270, 7%, 64%); 

  /* Chat / Right Message / Text */
  --clr--gray-4: hsl(271, 15%, 43%);

  /* Iphone boundary */
  --clr-gray-5: #ccc;

  /* 
    Main header
    Chat / Submit / Background
  */
  --clr--black: hsl(271, 36%, 24%); 
  
  /*
    Left blob
    Chat / Message price
  */
  --clr--gradient-1: hsl(293, 100%, 63%);
  --clr--gradient-2: hsl(264, 100%, 61%);
 
  /* 
    Chat / Subheader
    Right Blob
  */
  --clr--violet-1: hsl(276, 100%, 81%);

  /* Chat / Price / Radio / Outline */
  --clr--violet-2: hsl(289, 100%, 72%);
  
  /* Chat / Left Message / Text*/
  --clr--violet-3: hsl(276, 55%, 52%);

  --font--main: "Rubik", sans-serif; /* 400, 500, 700 */
  --font-size--main: 16px;
}

.absolute {
  display: block;
	position: absolute;
}

/* TEXT */

.text {
  font-size: 16px;
  color: var(--clr--white);
}

.text--chat {
  font-size: 14px;
  line-height: 150%;
}

.text--chat-subhead {
  font-size: 12px;
  color: var(--clr--violet-1);
}

.text--chat-left {
  color: var(--clr--violet-3);
}

.text--chat-right {
  color: var(--clr--gray-4);
}

.text--chat-duration {
  font-size: 100%;
  color: var(--clr--white);
}

.text--chat-price {
  font-weight: 500;
  color: var(--clr--white);
}

.text--header {
  color: var(--clr--black);
  font-weight: 500;
  font-size: 36px;
}

.text--paragraph {
  color: var(--clr--gray-3);
  line-height: 175%;
  font-size: 16px;
}

/* PAGE */

.page {
  font-family: var(--font--main);
  font-size: var(--font-size--main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  min-height: 100vh;
  background: var(--clr--gray-1);
  overflow-x: hidden;
  padding: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 90%
}

.link {
  color: var(--clr--white);
  background-image: linear-gradient(90deg, var(--clr--gradient-1), var(--clr--gradient-2));
  padding: .125rem .5rem;
  text-decoration: none;
  border-radius: .25rem;
  transition: .3s;
  display: inline-block;
  -webkit-user-drag: none;
  font-weight: 700;
}

/* BLOB */
.blob {
  position: absolute;
  width: 764px;
  height: 90%;
  background: rgba(255, 0, 0, 0.352);
  left: -10%;
  top: 0;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: .3s;
}

.blob--left {
  background-image: linear-gradient(180deg, var(--clr--gradient-1), var(--clr--gradient-2));
}

.blob--right {
  right: -10%;
  left: auto;
  top: auto;
  bottom: 0;
  transform: rotate(180deg) translateY(-25%);
  background: hsla(289, 100%, 72%, 10%);
}

/* NOTCH */

.notch {
  width: 48.5%;
  height: 3.25%;
  top: 3%;
  left: 25.75%;
  background: var(--clr--white);
  border-bottom-right-radius: 19.5px;
  border-bottom-left-radius: 19.5px;
  display: block;
  position: absolute;
  z-index: 1;
}

.notch__scanner {
  height: 8px;
  width: 8px;
  background: var(--clr-gray-5);
  border-radius: 4px;
  left: 27.5%;
  top: 25%;
  transform: translate(0,-50%);
}

.notch__camera {
  height: 10px;
  width: 10px;
  background: var(--clr-gray-5);
  border-radius: 5px;
  right: 26.5%;
  top: 25%;
  transform: translate(0,-50%);
}

.notch__speaker {
  width: 23%;
  height: 4px;
  background: var(--clr-gray-5);
  border-radius: 4px;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-50%);
}

/* IPHONE */

.iphone {
  min-height: 800px;
  height: 800px;
  min-width: 404px;
  width: 404px;
  max-width: 404px;
  position: relative;
}

.iphone__outer {
  width: 98%;
  height: 100%;
  top: 0;
  left: 1%;
  border-radius: 64px;
  background: var(--clr-gray-5);
  /* box-shadow: 10px 30px 200px rgba(0,0,0,0.5); */
}

.iphone__inner {
  width: 94%;
  height: 98%;
  border-radius: 57px;
  left: 3%;
  top: 1%;
  background: var(--clr--white);
}

.iphone__band {
  width: 3%;
  height: 10px;
  background: var(--clr--white);
}

.iphone__band--pos-tl {
  left: 1%;
  top: 100px;
}
.iphone__band--pos-tr {
  right: 1%;
  top: 100px;
}
.iphone__band--pos-bl {
  left: 1%;
  bottom: 100px;
}
.iphone__band--pos-br {
  right: 1%;
  bottom: 100px;
}

.iphone__power, .iphone__mute, .iphone__vol {
  width: 2%;
  position: absolute;
  background: var(--clr-gray-5);
  border-radius: 2px;
}

.iphone__power {
  height: 4%;
  top: 15.5%;
}

.iphone__vol {
  height: 7.25%;
  
}

.iphone__vol--up {
  top: 24.5%;
}

.iphone__vol--down {
  top: 33.5%;
}

.iphone__mute {
  height: 11.5%;
  top: 15.5%;
  right: 0;
}

.iphone__screen {
  position: relative;
  background: var(--clr--gray-1);
  width: 86%;
  height: 94%;
  left: 7%;
  top: 3%;
  border-radius: 37px;
  overflow: hidden;
}

.iphone__top {
  position: absolute;
  height: 5rem;
  width: 100%;
  background: linear-gradient(-90deg, var(--clr--gradient-1), var(--clr--gradient-2));
  border-radius: 0 0 .5rem .5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  padding: 2.5rem 1rem 1rem;
}

.iphone__user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-self: flex-start;
}

.iphone__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1px solid var(--clr--white);
}

.iphone__message-list {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1rem;
  gap: 1rem;
}

.iphone__gallery {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
}

.iphone__gallery-image {
  width: 4rem;
  height: 4rem;
  border-radius: .5rem;
  transition: .3s;
}

/* MESSAGES */

.message {
  background: hsla(276, 100%, 81%, .125);
  max-width: 75%;
  padding: .5rem .75rem;
  border-radius: 1rem 1rem 1rem .25rem;
  transition: .3s;
}

.message--right {
  background-color: var(--clr--white);
  align-self: flex-end;
  border-radius: 1rem 1rem .25rem 1rem;
}

/* PRICE */

.price {
  background: linear-gradient(90deg, var(--clr--gradient-1), var(--clr--gradient-2));
  user-select: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 1rem;
  border-radius: 1rem 1rem 1rem .25rem;
  max-width: 100%;
  transition: .3s;
}

.price:focus-within,
.price:active {
  outline: 1px solid var(--clr--black);
}

.price:hover {
  cursor: pointer;
}

.price__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.price__label {
  flex-grow: 1;
}

.price__radio {
  height: 16px;
  width: 16px;
  border: 1px solid var(--clr--violet-1);
  border-radius: 50%;
  position: relative;
  transition: .3s;
}

.price:hover .price__radio {
  background-color: var(--clr--violet-2);
}

.price .price__input:checked ~ .price__radio {
  background-color: var(--clr--white);
}

.price__radio::after {
  content: "";
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  background: linear-gradient(90deg, var(--clr--gradient-1), var(--clr--gradient-2));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.price .price__input:checked ~ .price__radio::after {
  display: block; /* Displays dot only when checked */
}

/* ENTER MESSAGE */

.enter-message {
  display: flex;
  width: 90%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.enter-message__input {
  border-radius: 2rem;
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  width: 100%;
}

.enter-message__input::placeholder {
  color: var(--clr--gray-2);
}

.enter-message__input:active,
.enter-message__input:focus {
  outline-color: var(--clr--black);
}

.enter-message__submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  border: none;
  background: var(--clr--black);
  border-radius: 50%;
  padding: .25rem .5rem;
  transition: .3s;
}

/* ANIMATIONS */

.message:hover,
.iphone__gallery-image:hover,
.price:hover {
  /* animation: small-and-big;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
  transform: scale(.95)
}

@keyframes small-and-big {
  50% {
    transform: scale(.95);
  }
}

.link:hover {
  transform: scale(.95);
  background-color: var(--clr--black);
}

.link:active {
  transform: scale(.85);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1560px) {
  .page {
    gap: 5rem;
  }

  .iphone {
    zoom: .9;
  }

  .blob {
    width: 470px;
    height: 100vh;
    border-radius: 0;
  }

  .blob--left {
    left: 0;
  }

  .blob--right {
    display: none;
  }

}

@media screen and (max-width: 900px) {
  .page {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .iphone {
    zoom: .75;
  }

  .blob--left {
    width: 100%;
    left: auto;
    height: 40%;
    border-radius: 0;
  }

  .blob--right {
    display: none;
  }

  .text--header,
  .text--paragraph {
    text-align: center;
  }

}